*{
    margin: 0;
    padding: 0;
}
body{
    background:linear-gradient(to left, lightyellow,rgb(70, 205, 70));
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius:1rem;
    border: none;
    box-shadow: 0 0 1rem;
    font-size: 8vmin;
    color: #b0413e;
    background-color: lightyellow;
}

#rst-btn{
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    background-color: #191913;
    color: #fff;
}

#new-btn{
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    background-color: #191913;
    color: #fff;
}

#msg{
    font-size: 5vmin;
    color: blueviolet;
    
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}